html,
body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.back {
    background-image: url(images/donation15.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.size {
    text-align: center;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    padding-top: 15%;
}

.decorate {
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    color: white;
}

.style-button {
    text-decoration: none;
    margin-left: 45%;
    color: white;
    background-image: linear-gradient(tomato, tomato);
    border-radius: 8px;
    padding: 5px 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
}

.re-decorate {
    text-align: center;
    margin-left: 23%;
    margin-right: 20%;

}

.flexible {
    text-align: center;
    margin-left: 30%;
    display: flex;

}

.shade {

    background-color: whitesmoke;
    border-radius: 5%;
    margin-left: 5%;
    margin-right: 3%;

    padding: 25px;

}

.re-shade {
    border: 2px solid tomato;
    color: tomato;
    background-color: rgb(241, 225, 225);
}

p {
    text-align: center;
}

.border {
    margin-left: 26%;
    width: 50%;
    border-width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 3%;
}